.table-wrapper {
  background: rgb(250, 249, 245);
  width: 100%;
}

.tablaAudiences {
  display: block;
  overflow: hidden;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #000000;
  border-radius: 10px;
  width: 100%;
  max-width: 90%;
  margin: auto;
  overflow-x: auto;
}

.tablaAudiences thead {
  background: rgb(212, 209, 197);
  color: #222;
}

.tablaAudiences th,
.tablaAudiences td {
  padding: 0.8rem;
  text-align: left;
  border: 1px solid #011112;
  /* Asegura líneas divisorias visibles */
  word-wrap: break-word;
  /* Permite que el texto se ajuste */
  white-space: normal;
  /* Permite que el texto ocupe varias líneas */
}

.tablaAudiences .fecha {
  width: 15%;
  /* Asigna un 20% del ancho a cada una de estas columnas */
}

.tablaAudiences .nombre,
.tablaAudiences .cargo {
  width: 20%;
  /* Asigna un 20% del ancho a cada una de estas columnas */
}

.tablaAudiences .descripcion {
  width: 30%;
  /* Asigna un 20% del ancho a cada una de estas columnas */
}

.tablaAudiences td {
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tablaAudiences tbody tr:hover {
  background-color: #e5e6e1;
}

.actions {
  display: flex;
  justify-content: space-around;
}