.bigText {
  font-size: 20px;
}


.content-container {
  max-height: 700px;
  overflow-y: auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #D6D1C4;
  /* Set the background color as needed */
  display: flex;
  justify-content: center;
  padding: 20px;
  /* Add padding to the footer if needed */
  border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.footer button {
  margin-right: 20px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.footer button:last-child {
  margin-right: 0;
}